@import "common";
@import "variable";

body {
  font-family: var(--Font1);
  h1,
  h2 {
    font-family: var(--Font2);
    color: var(--Very-Dark-Cyan);
  }
  .section1 {
    header {
      padding: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        a {
          img {
            width: 50%;
          }
        }
      }
      .cta {
        background-color: transparent;
        outline: none;
        border: 1px solid var(--Pink);
        padding: 0.3rem 1rem;
        border-radius: 3rem;
        font-family: var(--Font1);
        color: var(--Pink);
        transition: all 0.3s ease-in;
        &:hover {
          color: var(--Light-Pink);
          border: 1px solid var(--Light-Pink);
        }
      }
    }

    .container {
      padding: 3rem 2rem;
      text-align: center;
      h1 {
        padding: 0 1.5rem;
        margin-bottom: 1.5rem;
      }
      p {
        color: var(--Very-Dark-Cyan);
        margin-bottom: 3rem;
      }
    }
  }

  .section2 {
    padding: 3rem 2rem 0 2rem;
    .headerImage {
      img {
        width: 100%;
      }
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 3rem 0;
      .social {
        margin-bottom: 5rem;
        img {
          width: 20%;
        }
        .social-cont {
          text-align: center;
          h1 {
            font-size: 3.5rem;
          }
        }
      }
      .next {
        margin-bottom: 0;
      }
    }
  }

  .section4 {
    padding: 3rem 2rem;
  }

  .section6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 2rem;
    text-align: center;
    height: 80vh;
    h1 {
      margin-bottom: 2rem;
    }
  }
  .main {
    padding: 5rem 2rem;
    text-align: center;
    .header {
      margin-bottom: 2rem;
      img {
        width: 100%;
      }
    }
    h2 {
      padding-bottom: 1rem;
    }
  }
  .mobile {
    width: 100%;
  }
  .desktop {
    display: none;
  }
  .pale {
    background-color: var(--Very-Pale-Blue);
    padding: 5rem 2rem;
    margin: -0.3rem 0;
    .header {
      padding: 0 2rem;
    }
  }
  .mainCta {
    padding: 1rem 2.5rem;
    background-color: var(--Pink);
    border-radius: 3rem;
    border: none;
    outline: none;
    font-family: var(--Font2);
    color: var(--Very-Pale-Blue);
    font-weight: 600;
    &:hover {
      background-color: var(--Light-Pink);
    }
  }

  footer {
    color: var(--Very-Pale-Blue);
    img {
      margin-bottom: -0.5rem;
    }
    .maincontainer {
      background-color: var(--Very-Dark-Cyan);
      padding: 3rem 2rem 1rem 2rem;
      .main{
        text-align: left;
      }
      .container {
        padding-bottom: 2rem;
        h1 {
          text-transform: uppercase;
          color: var(--Very-Pale-Blue);
          margin-bottom: 1rem;
        }
        form {
          padding: 2rem 0;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          input {
            width: 100%;
            height: 3rem;
            outline: none;
            border: none;
            border-radius: 0.3rem;
            background-color: var(--Very-Pale-Blue);
            margin-bottom: 1rem;
            font-family: var(--Font2);
            font-size: 1.2rem;
            padding: 0.5rem 1rem;
          }
          button {
            width: 50%;
            padding: 1rem;
            border-radius: 0.3rem;
            border: none;
            outline: none;
            background-color: var(--Pink);
            color: var(--Very-Pale-Blue);
            font-weight: 600;
            font-size: 1rem;
            font-family: var(--Font2);
            &:hover {
              background-color: var(--Light-Pink);
            }
          }
        }
        .logo {
          padding-bottom: 1rem;
          svg {
            path {
              fill: var(--Very-Pale-Blue);
            }
          }
        }
        p {
          span {
            padding-right: 1rem;
            font-size: 1.5rem;
          }
          .phone {
            padding: 0 0 0 1rem;
            font-size: 1.2rem;
          }
        }
        ul {
          display: flex;
          list-style: none;
          align-items: center;
          li {
            padding-right: 0.5rem;
            a {
              font-size: 1.5rem;
              color: var(--Very-Pale-Blue);
              transition: all 0.3s ease-in;
              &:hover {
                color: var(--Pink);
                font-size: 1.8rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  body {
    .section1 {
      .container {
        p {
          padding: 0 10rem;
        }
      }
    }
    .section2 {
      padding: 3rem 3rem 0 3rem;
      .headerImage {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 75%;
        }
      }
      .container {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 5rem 0 3rem 0;
        .social {
          margin-bottom: 0;
        }
      }
    }
    .mobile {
      display: none;
    }
    .desktop {
      display: block;
      width: 100%;
    }

    .pale {
      padding: 3rem 5rem;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      .header {
        margin-bottom: 0;
        padding: 0;
      }
    }

    .section4 {
      padding: 0;
      .main {
        padding: 3rem 5rem;
        display: flex;
        align-items: center;
      }
    }
    .description {
      width: 60%;
      text-align: left;
      padding-right: 3rem;
    }
    .left{
      width: 60%;
      padding-left: 3rem;
      padding-right: 0;
    }
    .section6{
      height: 60vh;
    }
    footer{
      .maincontainer{
        .innercontainer{
          display: flex;
          flex-direction: row-reverse;
        }
        .main{
          text-align: left;
          padding: 0 1rem 0 2rem;
        }
      }
    }
  }
}

@media (min-width:1024px){
  body{
    .section1{
      .main{
        display: flex;
        justify-content: center;
        align-items: center;
        .container{
          width: 75%;
        }
      }
      
    } 
    .section2{
      .headerImage{
        img{
          width: 50%;
        }
      }
    }
  }
}
